.UserInfoForm {
    text-align: left;
  }
  
  .UserInfoForm-table {
      width: 60%;
      border: 10;
    border-color: rgb(150, 200, 120);
    color: rgb(45, 43, 146);
    align-self: auto;

}

button {
  background-color: #4d5b79;
}
  .UserInfoForm-input {
      text-align: left;
      color: rgb(45, 43, 146);
  }

  .UserInfoForm-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .UserInfoForm-logo {
      animation: UserInfoForm-logo-spin infinite 20s linear;
    }
  }
  
  .UserInfoForm-header {
    background-color: #4d5b79;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(175, 60, 60);
  }
  
  .UserInfoForm-link {
    color: #61dafb;
  }
  
  @keyframes UserInfoForm-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  